{% extends 'base.html' %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/fontawesome.min.css">
    <div class="position-absolute overflow-hidden  m-md-3 text-center" style="color: rgb(24, 22, 22);justify-content: center;padding-top: 150px; padding-bottom: 150px; min-height: 90%;">
        <img class="mb-4" src="url_for('static',filename='logo.png')" alt="">
        <div class=" p-lg mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Water Resources Management
            </h1>
           <a class="btn btn-primary" href="{{url_for('users.register')}}" style="text-align: center; justify-content: center;">Get Started</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        <div class="centerdiv">
            <a href="https://m.facebook.com/sachin.mohanty.739" target="_blank"><i class="fab fa-facebook" style="color:rgb(1, 87, 136); font-size: 100px;margin: 10px; padding-top: 10px;"></i></a>
            <a href="https://twitter.com/NikhilCodes" target="_blank"<i class="fab fa-twitter"style="color:#00acee; font-size: 100px;margin: 10px; padding-top: 10px;"></i></a>
            <a href="https://www.instagram.com/sachinkumar_32/" target="_blank"><i class="fab fa-instagram-square"style="color:#5c4347; font-size: 100px;margin: 10px; padding-top: 9px;"></i></a>
            <a href="" target="_blank"><i class="fab fa-youtube"style="color:#e30707; font-size: 100px;margin: 10px; padding-top: 10px;"></i></a>
        </div>

    </div>
{% endblock content %}