{% extends 'base.html' %}
{% block content %}
    <!-- <div class="jumbotron">
        <h1>Info about Our Project</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae numquam illum quis corporis deleniti explicabo harum molestias velit, libero, quam quaerat. Dignissimos dicta officiis quibusdam, sapiente nemo quos dolorem molestias?</p>
    </div> -->
    <div class="card text-center" style="background-color: rgba(245,245,245,0.4);">
        <div class="card-header" style="opacity: 1;">
          <p style="font-size: 3rem; font-weight: bold;"> Project H<sub>2</sub>O</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam amet blanditiis, inventore alias mollitia eius consequatur expedita voluptatem? Animi ratione delectus, porro eius tempora hic explicabo perferendis. Perspiciatis, numquam nisi.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <!-- <div class="card-footer text-muted">
          2 days ago
        </div> -->
      </div>
{% endblock content %}