{% extends 'base.html' %}
{% block content %}
    <!-- <div class="jumbotron">
        <h1>Info about Our Project</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae numquam illum quis corporis deleniti explicabo harum molestias velit, libero, quam quaerat. Dignissimos dicta officiis quibusdam, sapiente nemo quos dolorem molestias?</p>
    </div> -->
    <div class="card text-center" style="background-color: rgba(245,245,245,0.4);">
        <div class="card-header" style="opacity: 1;">
          <p style="font-size: 3rem; font-weight: bold;"> Project H<sub>2</sub>O</p>
        </div>
        <div class="card-body">
          <h5 class="card-title"><span style="font-size: 1.8rem;">
            <b>About Our Project</b>
          </span></h5>
          <p class="card-text"><span style="font-size: 1.5rem; text-align: left;">
            Nowadays the worsening water crisis occurring in many regions has pushed them to the brink of war. Even it is predicted that the next world war might happen on water. Therefore it becomes need of the hour to take appropriate measures for the efficient management of the limited water resources available.
            <br>
            Here in our website, we have provided a login and register option where the user can sign up and login to provide the details. On the basis of the data provided, the ML model will allocate the required water to the user considering the various factors like wind speed, air pressure, humidity, topography, season, whether it is a festival day or not, availability of water in the source etc.
          </span></p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <!-- <div class="card-footer text-muted">
          2 days ago
        </div> -->
      </div>
{% endblock content %}