{% extends 'base.html' %}
{% block content %}
<body class="text-center" >
    <div class="container">
        <form method="POST"  style="color: rgb(0, 0, 0);font-size: 1.5rem;">
            {{form.hidden_tag()}}
            <h1 class="h1 mb-3 font-weight-normal" style="padding-top: 20px;">
                Please Create Your Account
            </h1>
            {{form.email.label}}{{form.email(class="form-control")}}
            {{form.username.label}}{{form.username(class="form-control")}}<br>
            {{form.password.label}}{{form.password(class="form-control")}}<br>
            {{form.pass_confirm.label}}{{form.pass_confirm(class="form-control")}}<br>
            
            {{form.submit(class="btn btn-lg btn-block btn-success")}}
            <br>
            <div>
                <h6>
                    <span class="text-center" style="text-align: center;font-size: 1.5rem;">Already have an Account?</span>
                </h6>
                <a class="btn btn-lg btn-secondary text-center" href="{{ url_for('users.login') }}">Login</a>
             </div>
        </form>
    </div>
</body>
{% endblock content %}